/* css reset - some browsers have margins */
* {
    margin: 0;
    padding: 0;
}


/* Add variables for colours */
:root {
    --primary-text-color: #495D7B;
    --header-background-color: #31343D;

    --navbar-alink-text-color: #92CCCE;
    --primary-background-color: #EEEEF7;
    --complementing-color: #73FBFD;
}


h1 {
    text-align: center;
}


h2 {
    color: var(--primary-text-color);
}


.container-fluid {
    background-color: var(--header-background-color);
    flex-direction: column;
}


.container-arvi {
    background-color: var(--complementing-color);
    color: var(--primary-text-color);
    width: 35%;
    /* width of bright blue background color of my name*/
}


.navbar {
    background-color: var(--header-background-color);
    padding-top: 0px;
}


.nav-item a {
    font-size: 17px;
    color: var(--navbar-alink-text-color);
    font-weight: bold;
    font-family: Arial;
}


.nav-item a:hover {
    /* Below are the colours for menu items when hover over on small screen */
    background: white;
    color: var(--complementing-color);
}


#mainNav .navbar-toggler {
    /* "Menu" text font size and color when resized down */
    font-size: 18px;
    color: white;
}


.jumbotron {
    color: var(--header-background-color);
    text-align: center;
}


.jumbotron h1 {
    font-size: 1.7rem;
}


.jumbotron p {
    font-size: 1.2rem;
}


#jumbotron-text {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    left: 32%;
    width: 25%;
    top: 16%;
    padding: 10px;
}


#jumotron-image {
    padding: 0px;
    width: 100%;
}